*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(42, 42, 42);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-pic{
    width: 150px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: space-around;
    
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: bisque;
}
.banner-photo{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content:space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg,#181717,#3e3d3d);
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.discretion{
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    
}
.about-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}
.about-pic{
    width: 400px;
}
.about-text-one{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.about-text-two{
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.title-s{
    text-align: center;
    color: black;
    font-size: 60px;
    margin-top: 20px;
}
.box{
    height: 300px;
    width: 250px;
    color: white;
    box-shadow: 4px 4px 30px gray;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}
.icon{
    width: 60px;
}
.btn-b{
    background-color: rgb(54, 54, 54);
    margin-top: 10px;
    margin-bottom: 5px;
}
.box-title{
    padding: 5px;
}
.box-discreption{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.service-section{
    background-image: url("./images/background.png"), linear-gradient(45deg, #0d0d0d, #323131);
    padding: 20px;
    color: white;
}
#service-title{
    color: white;
}
.footer{
    background-color: black;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    padding: 50px;
    
}
.footer-title{
    margin-bottom: 25px;
    font-size: bold;

}
.footer-p{
    margin-top: 10px;

}
